:root{ 
--background-color:rgba(0, 0, 0, 0.539);
--text-color:black;
}
body{
width: 100%;
    height: 100vh;
    background-color: var(--background-color);
    color: var(--text-color);
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
header{
top: 0;
    height: 60px;
    border-bottom: 2px solid var(--text-color);
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
main {
display: flex;
    flex-direction: column;
    align-items: center;
    width: 55%;
 

form{
border-top: 2px solid var(--text-color);

}
